<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 命名空间 -->
	<typeAliases>
		<typeAlias alias="activity" type="com.bus.chelaile.model.Answer_activity" />
		<typeAlias alias="question" type="com.bus.chelaile.model.Answer_subject" />
	</typeAliases>

	<!-- 映射map -->
	<mappers>
	</mappers>
</configuration>